<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up for the app", signup_path, 
                                  class: "btn btn-danger btn-lg btn-xlarge" %></p>
  </div>
  
  <div class="row">
  <div class="col-lg-4">
    <h2>Cooking to career</h2>
    <p>How to Turn Cooking into a Career
If you have a penchant for preparing delicious dishes in the kitchen, you may be thinking about how to turn your passion a reality.</p>  <p><a class="btn btn-primary btn-xlarge" href="http://www.foodnetwork.ca/blog/author/adowling/" role="button">View details »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Baking bread</h2>
    <p>Rachel and Jean of The Baker Sisters dish on their favourite bakeries letting us all know where to indulge the next time we crave sweet, sugary cinnamon rolls or the best baked bread around.</p>
    <p><a class="btn btn-primary btn-xlarge" href="http://www.foodnetwork.ca/blog/author/adowling/" role="button">View details »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Bakery</h2>
    <p>The Baker Sisters, Rachel and Jean, travelled far and wide in search of the best sweet treats. From a hazelnut and chocolate mousse cake to a nine layer “London fog” cake, here are their top 7 most indulgent sweet treats from the first season of The Baker Sisters.</p>
    <p><a class="btn btn-primary btn-xlarge" href="http://www.foodnetwork.ca/blog/author/adowling/" role="button">View details »</a></p>
  

  
  </div>
  
</div>
